<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RFIDTracker.Properties.Settings.RFIDTracker"
         connectionString="REDACTED_ENCRYPTED_CONNECTION_STRING"
         providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>